bin
/kirby
/vendor
/site/plugins
supervisord.*

# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html
!/media/panel


# Lock files
# ---------------
.lock

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------
/site/config/.license

# Should not be included in the repository in real projects.
# We include it here to ensure we have demo/test content for the
# eleventy-plugin-kirby
# /content/*
# !/content/site*