---
pagination:
  data: kirby.entities.pages
  size: 1
  alias: data
  resolve: values
  addAllPagesToCollections: true
permalink: "{{ data._permalink }}/index.html"
tags: "data"
---

<h1>{{data.title}}</h1>